//
// Card
//


.card-translucent {
    background-color: rgba(18, 91, 152, 0.08);
}

// NOTE custom card edits

#custom-card-border-blog{
    border-left: 8px solid $success;
 }
 
 #custom-card-border-sales{
    border-left: 8px solid $purple;
 }
 
 #custom-card-border-story{
    border-left: 8px solid $primary;
 }
 
 #custom-card-border-payments{
    border-left: 8px solid $success !important;
 }
 
 #custom-card-border-shipping{
    border-top: 8px solid $indigo !important;
 }
 
 #custom-card-border-errors{
    border-right: 8px solid $danger !important;
 }
