//
// Card
//


.card-translucent {
    background-color: rgba(18, 91, 152, 0.08);
}

// NOTE custom card edits

#custom-card-border-blog{
    border-left: 8px solid #35a04a;
 }
 
 #custom-card-border-sales{
    border-left: 8px solid #b993e6;
 }
 
 #custom-card-border-story{
    border-left: 8px solid #fe64a4;
 }
 
 #custom-card-border-payments{
    border-left: 8px solid #35a04a !important;
 }
 
 #custom-card-border-shipping{
    border-top: 8px solid $indigo !important;
 }
 
 #custom-card-border-errors{
    border-right: 8px solid $danger !important;
 }
