//
// Icon buttons
//

// General styles


// NOTE custom styled edits for cards and buttons
.fab.fa-instagram {
   color: rgba(95,70,201,1);
   animation-name: insta;
   animation-duration: 4s;
   animation-iteration-count: infinite;

}  

@keyframes insta {
   0% {color: rgba(245,211,114,1)}
   25% {color: rgba(198,19,47,1)}
   50% {color: rgba(95,70,201,1)}
   75% {color: rgba(198,19,47,1)}
   100% {color: rgba(245,211,114,1)}

}

.fas.fa-edit{
   &:hover{
      color: $pink !important;
   }
}

.fab.fa-facebook{
   color: $facebook;

   &:hover{
      color: $default;
   }
}

.fab.fa-twitter{
   color: $twitter;

   &:hover{
      color: $info;
   }
}

#custom-btn{
   font-size: 1rem;
   &:hover{
      color: $green;
   }
}

#custom-btn-2{
   font-size: 1rem;
   &:hover{
      color: $indigo !important;
   }
}

#custom-btn-3{
   font-size: 1rem;
   &:hover{
      color: $warning !important;
   }
}

.custom-header-sales{
   color: #b993e6;
   text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.custom-link{
   color: #525f7f;
   text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
   &:hover {
      @include box-shadow($btn-hover-box-shadow);
      transform: translateY($link-hover-translate-y);
      transition: $transition-base;
      border: none;
      box-shadow: none;
      color: #b993e6;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
   }
}

#custom-card-border-blog{
   border-left: 8px solid #35a04a;
}

#custom-card-border-sales{
   border-left: 8px solid #b993e6;
}

#custom-card-border-story{
   border-left: 8px solid #fe64a4;
}

#custom-card-border-payments{
   border-left: 8px solid #35a04a !important;
}

#custom-card-border-shipping{
   border-top: 8px solid $indigo !important;
}

#custom-card-border-errors{
   border-right: 8px solid $danger !important;
}

.btn-primary{

   &:hover {
      border-color: $info;
      background-color: $info;
   }
}

.btn-secondary{

   &:hover {
      border-color: $success;
      background-color: $success;
   }
}

.tools{
   min-height: 70vh;
}

@media (max-height: 1080px){
   .tools{
      min-height: 65vh;
   }
}

.indent-text{
   text-indent: 2rem;
}
// NOTE end section of custom style edits for buttons and cards

.btn {
   position: relative;
   text-transform: $btn-text-transform;
   transition: $transition-base;
   letter-spacing: $btn-letter-spacing;
   font-size: $input-btn-font-size;
   will-change: transform;

   &:hover {
      @include box-shadow($btn-hover-box-shadow);
      transform: translateY($btn-hover-translate-y);
   }

   &:not(:last-child) {
      margin-right: .5rem;
   }


   // Icons

   i:not(:first-child),
   svg:not(:first-child) {
      margin-left: .5rem;
   }

   i:not(:last-child),
   svg:not(:last-child) {
      margin-right: .5rem;
   }
}


// Remove translateY and margin animation when btn is included in a btn-group or input-group

.btn-group,
.input-group {
   .btn {
      margin-right: 0;
      transform: translateY(0);
   }
}


// Size variations

.btn-sm {
   font-size: $input-btn-font-size-sm;
}

.btn-lg {
   font-size: $input-btn-font-size-lg;
}


// Some quick fixes (to revise)

// Fixes
[class*="btn-outline-"] {
   border-width: 1px;
}

.btn-outline-secondary {
   color: darken(theme-color("secondary"), 50%);
}

.btn-inner--icon {
   i:not(.fa) {
      position: relative;
      top: 2px;
   }
}

.btn-link {
   font-weight: $btn-font-weight;
   box-shadow: none;

   &:hover {
      box-shadow: none;
      transform: none;
   }
}

.btn-neutral {
   color: theme-color("primary");
}
